  <div class="bg-white rounded-lg p-6">
    <img class="h-16 w-16 rounded-full mx-au" src="./assets/images/skull.png">
    <div>
      <h2>Erin Lindford</h2>
      <div>Customer Support</div>
      <div>erinlindford@example.com</div>
      <div>(555) 765-4321</div>
    </div>
    <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
  Button
</button>
  </div>