<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <button id="btn-alert">hola</button>
    <h1>sssd</h1>
    <p>s</p>
    <button id="btn-jquery">Click ssssfffjQuery</button>
    <h1>jsjsssssssssssssdddddj</h1>
    <p>s</p>
      <h1 class="display-1">Hello World</h1>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>

    <h1>Webpack, Sass & A Template Engine</h1>
    <!-- <img src="./static/logo.png" alt=""> -->

   {{>partials/header title=htmlWebpackPlugin.options.title}} 
   {{>partials/newsletter}}

   <h1>kk</h1>
   <i class="fa fa-check fa-lg"></i>
    <i class="fab fa-twitter-square"></i>
   <!-- <script type="text/javascript" src="scripts/bundle.js"></script> -->
  </body>
</html>